/lista 1/.idea
/lista 2/.idea
/lista 3/AllTogether/.idea
/lista 3/DijkstraPath/.idea
/lista 3/PriorityQueue/.idea
/lista 3/SpanningTrees/.idea
/lista 3/StrongConnection/.idea
/lista 4/TreesExperiments/.idea
/lista 5/MaximumFlow/.idea
/lista 5/MaxMatching/.idea

/lista 1/out
/lista 2/out
/lista 3/AllTogether/out
/lista 3/DijkstraPath/out
/lista 3/PriorityQueue/out
/lista 3/SpanningTrees/out
/lista 3/StrongConnection/out
/lista 4/TreesExperiments/out
/lista 5/MaximumFlow/out
/lista 5/MaxMatching/out

